@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');


:root {
    --Very-Dark: hsl(217, 19%, 35%);
    --Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Blue: hsl(210, 46%, 95%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
}